# MacOS Artifacts
**/.DS_Store

# Python local development
.venv
.venv_py310
.venv_20240229

**/__pycache__

# Terraform
infra/.terraform

.vscode
.mypy_cache
docker-stack.yml
# .env
*.code-workspace
.s3cfg

**/.venv

**/.env
backend/venv/

frontend/node_modules/

backend/startupLocal.sh