# MacOS Artifacts
**/.DS_Store

# Python local development
.venv

**/__pycache__
.vscode

# Terraform
infra/.terraform

.vscode
.mypy_cache
docker-stack.yml
# .env
*.code-workspace
.s3cfg

**/.venv

**/.env
backend/venv/
