.drawflow .drawflow-node {
  border: 2px solid #494949;
  border-radius: 8px;
  background: #181818;
  color: white;
  min-inline-size: 250px;
}

.drawflow .drawflow-node.selected {
  border: 2px solid rgb(250, 0, 175);
  background: #181818;
}

.drawflow .drawflow-node .input,
.drawflow .drawflow-node .output {
  border: 3px solid #494949;
  background: #181818;
  block-size: 20px;
  inline-size: 20px;
  margin-block: 14px;
}

.drawflow .drawflow-node .input {
  inset-inline-start: -45px;
}

.drawflow .drawflow-node .output {
  inset-inline-end: -27px;
}

.drawflow .drawflow-node .output:hover,
.drawflow .drawflow-node .input:hover {
  border: 3px solid rgb(250, 0, 175);
  background: #494949;
}

.drawflow .connection .main-path {
  stroke: #c5c343;
  stroke-width: 3px;
}

.drawflow .connection .main-path:hover {
  stroke: rgb(250, 0, 175);
}

.parent-node .drawflow-delete {
  display: none !important;
}

.drawflow .drawflow-node.selected .drawflow_content_node .header {
  background: rgb(250, 0, 175);
}

.drawflow .drawflow-node .drawflow_content_node input,
.drawflow .drawflow-node .drawflow_content_node .el-select,
.drawflow .drawflow-node .drawflow_content_node button {
  inline-size: 100%;
}

.el-drawer__body {
  color: black;
}
